<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <%= image_tag ("computador.jpg"), class: "activator", style: "cursor: pointer;" %>
      <a class="btn-floating halfway-fab waves-effect waves-light amber activator"><i class="material-icons">watch_later</i></a>
    </div>
    <div class="card-content activator">
      <p class="truncate"">Recepção 24hrs</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <%= image_tag ("cafe.jpg"), class: "activator", style: "cursor: pointer;" %>
      <a class="btn-floating halfway-fab waves-effect waves-light amber activator"><i class="material-icons">local_cafe</i></a>
    </div>
    <div class="card-content activator">
      <p class="truncate">Café da manhã caseiro</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <%= image_tag ("cozinha.jpg"), class: "activator", style: "cursor: pointer;" %>
      <a class="btn-floating halfway-fab waves-effect waves-light amber activator"><i class="material-icons">kitchen</i></a>
    </div>
    <div class="card-content activator">
      <p class="truncate">Cozinha</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <%= image_tag ("sala.jpg"), class: "activator", style: "cursor: pointer;" %>
      <a class="btn-floating halfway-fab waves-effect waves-light amber activator"><i class="material-icons">wifi</i></a>
    </div>
    <div class="card-content activator">
      <p class="truncate">Computador grátis</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <%= image_tag ('quarto1.jpg'), class: "activator", style: "cursor: pointer;" %>
      <a class="btn-floating halfway-fab waves-effect waves-light amber activator"><i class="material-icons">lock</i></a>
    </div>
    <div class="card-content activator">
      <p class="truncate">Armários individuais</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <%= image_tag ('quarto3.jpg'), class: "activator", style: "cursor: pointer;" %>
      <a class="btn-floating halfway-fab waves-effect waves-light amber activator"><i class="material-icons">lightbulb_outline</i></a>
    </div>
    <div class="card-content activator">
      <p class="truncate">Luzes para leitura</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <%= image_tag ('quarto4.jpg'), class: "activator", style: "cursor: pointer;" %>
      <a class="btn-floating halfway-fab waves-effect waves-light amber activator"><i class="material-icons">hotel</i></a>
    </div>
    <div class="card-content activator">
      <p class="truncate">Camas XL</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <%= image_tag ('quarto5.jpg'), class: "activator", style: "cursor: pointer;" %>
      <a class="btn-floating halfway-fab waves-effect waves-light amber activator"><i class="material-icons">favorite_border</i></a>
    </div>
    <div class="card-content">
      <p class="truncate">Suites</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <%= image_tag ('banheiro.jpg'), class: "activator", style: "cursor: pointer;" %>
      <a class="btn-floating halfway-fab waves-effect waves-light amber activator"><i class="material-icons">wc</i></a>
    </div>
    <div class="card-content">
      <p class="truncate">Banheiro próximo aos quartos</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
