<div class="row">
  <div class="container" style="width: 90% !important">
    <h4 style="padding-left: 2%; padding-top: 2%;" class="black-text">Envie-nos uma mensagem</h4>
  </div>
  <div class="col s10 offset-s1 m8 offset-m2">
    <div class="row form-contact">
      <%= simple_form_for @message, url: messages_path  do |f| %>
        <div class="input-field col s12 m6">
          <%= f.input :name, class: 'validate', label: "Nome" %>
        </div>
        <div class="input-field col s12 m6">
          <%= f.input :email, class: 'validate', label: "Email" %>
        </div>
        <div class="input-field col s12">
          <%= f.input :subject, class: 'materialize-textarea', label: "Assunto" %>
        </div>
        <div class="input-field col s12">
          <%= f.input :content, class: 'materialize-textarea', label: "Mensagem" %>
        </div>
        <div class="center-align">
          <%= f.button :submit, id: 'send-message', class: 'amber' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
