<div id="myNav" class="overlay" style="background-image: url('<%= image_path ('bg_overlay.jpg') %>');">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col s12 m12">
          <%= render 'partials/header_overlay.html.erb' %>
          <div class="row" style="margin-top: 30px;">
            <%= render 'partials/form_overlay' %>
          </div>
          <div class="row booking_cards">
          </div>
          <div class="row form-guest">
            <div class="col s12 m4 card-info-booking">
            </div>
            <div class="col s12 m8">
              <%= render 'partials/guest_form' %>
            </div>
          </div>
          <a style="display: none; cursor: pointer; position: fixed; bottom: 20px; right: 20px;" class="btn btn-large waves-effect waves-light amber modal-trigger rentButton" disabled >reservar</a>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: white;">
      <%= render 'partials/terms_and_conditions' %>
    </div>
  </div>
</div>
