<div class="row">
  <div class="col s12 m6">
    <div class="row">
      <div class="col s12">
        <h5 style="padding-left: 2%; padding-top: 4%;">Quartos compartilhados</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6" style="margin: 0 !important; padding: 0 !important;">
        <%= image_tag 'quarto1.jpg', class: 'responsive-img' %>
        <%= image_tag 'quarto3.jpg', class: 'responsive-img', style: 'margin-top: -3%;' %>
      </div>
      <div class="col s12 m6" style="margin: 0 !important; padding: 0 !important;">
        <%= image_tag 'quarto2.jpg', class: 'responsive-img' %>
        <%= image_tag 'quarto4.jpg', class: 'responsive-img', style: 'margin-top: -3%;' %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <blockquote>
          Você está viajando sozinho? Nossos dormitórios compartilhados são uma boa oportunidade para conhecer novas pessoas. Iluminados e ventilados, eles têm armários individuais e camas-XL com luzes individuais de leitura e tomadas de energia para carregar o telefone. Os banheiros e chuveiros estão localizados no corredor perto do quarto.
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="row">
      <div class="col s12">
        <h5 style="padding-left: 2%; padding-top: 4%;">Suítes</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12" style="margin: 0 !important; padding: 0 !important;">
        <%= image_tag 'quarto5.jpg', class: 'responsive-img' %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <blockquote>
          Procurando um pouco mais de privacidade? Dormir na nossa confortável suite equipada com banheiro privativo, uma cama queen size e um ventilador. O buffet de café da manhã e as toalhas estão incluídas na tarifa do quarto.
        </blockquote>
      </div>
    </div>
  </div>
</div>
