<nav class="side-nav" id="slide-out">
  <ul>
    <li>
      <div class="user-view" style="margin-top: 10%; margin-left: 10%; min-height: 25vh;">
        <div class="background">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </div>
      </div>
    </li>
    <li>
      <%= link_to about_path do %>
        <i class='material-icons prefix tiny' style='margin-right: 10px'>home</i>Quem somos
      <% end %>
    </li>
    <li>
      <%= link_to contact_path do %>
        <i class="material-icons prefix tiny" style="margin-right: 10px;">location_on</i>Contato e Localização
      <% end %>
    </li>
    <li>
      <%= link_to booking_path do %>
        <i class="material-icons prefix tiny" style="margin-right: 10px;">hotel</i>Reservas
      <% end %>
    </li>
    <li>
      <%= link_to work_path do %>
        <i class="material-icons prefix tiny" style="margin-right: 10px;">work</i>Trabalhe conosco
      <% end %>
    </li>
  </ul>
</nav>
