<nav class="side-nav" id="slide-out">
  <ul>
    <li id="side-bar-logo">
      <div class="side-bar-div">
        <%= link_to root_path do %>
          <div class="user-view" style="margin-top: 10%; margin-left: 10%; min-height: 20vh;">
            <div class="background">
                <%= image_tag 'logo.png' %>
            </div>
          </div>
        <% end %>
      </div>
    </li>
    <li>
      <%= link_to about_path do %>
        <i class='material-icons prefix tiny notranslate' style='margin-right: 10px'>home</i>Quem somos
      <% end %>
    </li>
    <li>
      <%= link_to contact_path do %>
        <i class="material-icons prefix tiny notranslate" style="margin-right: 10px;">location_on</i>Contato e Localização
      <% end %>
    </li>
    <li>
      <%= link_to booking_path do %>
        <i class="material-icons prefix tiny notranslate" style="margin-right: 10px;">hotel</i>Central de Reservas
      <% end %>
    </li>
    <li>
      <%= link_to work_path do %>
        <i class="material-icons prefix tiny notranslate" style="margin-right: 10px;">work</i>Trabalhe conosco
      <% end %>
    </li>
  </ul>
</nav>
