<div class="container" style="width: 90% !important">
  <h4 style="padding-left: 2%; padding-top: 2%;">Ãreas comuns</h4>
</div>
<div class="row">
  <div class="col s12 m4" style="padding: 0 !important;">
    <%= image_tag ("computador.jpg"), class: 'responsive-img' %>
    <%= image_tag ("cafe.jpg"), class: 'responsive-img', style: 'margin-top: -3%;' %>
  </div>
  <div class="col s12 m4" style="padding: 0 !important;">
    <%= image_tag ("quarto6.jpg"), class: 'responsive-img' %>
    <%= image_tag ("banheiro.jpg"), class: 'responsive-img', style: 'margin-top: -3%;' %>
  </div>
  <div class="col s12 m4" style="padding: 0 !important;">
    <%= image_tag ("cozinha.jpg"), class: 'responsive-img' %>
    <%= image_tag ("sala.jpg"), class: 'responsive-img', style: 'margin-top: -3%;' %>
  </div>
</div>
