<section>
  <div class="container" style="width: 90% !important">
    <h4 style="padding-left: 2%; padding-top: 2%;" class="black-text">Sobre nós</h4>
    <blockquote>
    Drag Queen nas horas vagas, ex-gerente de um café, ator de teatro, geeks que cansaram de apenas programar, aquele que veio como hóspede e nunca mais foi embora. Todos fomos viajantes em algum momento da nossa vida e temos algo que nos une: somos apaixonados pela nossa cidade e o espírito internacional que se vive num hostel.
    </blockquote>
    <div class="row">
      <div class="col s12">
        <%= image_tag 'about.jpg', class: 'responsive-img', style: 'height: 75vh;' %>
      </div>
    </div>
    <h4 style="padding-left: 2%; padding-top: 2%;" class="black-text">Adoramos o que fazemos</h4>
    <p style="padding-left: 1%;">Conheça nosso staff.</p>
    <div class="row">
      <% @employees.each do |employee| %>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <%= image_tag employee.photo.url, class: 'activator responsive-img' %>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%= employee.name %><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%= employee.name %><i class="material-icons right">close</i></span>
              <p><%= employee.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= javascript_include_tag ('about.js') %>
