<div class="container-fluid">
  <div class="row">
    <div class="col s12 m3" style="margin-top: 2vh;">
      <blockquote>
        <h5 class="center-align black-text">Escolha as datas que deseja se hospedar conosco.</h5>
      </blockquote>
      <form class="col s12">
        <div class="row" style="display: flex; align-items: center; flex-direction: column; justify-content: center; background-color: rgba(0, 0, 0, 0.52); border-radius: 2px;">
          <div class="input-field col s12">
            <i class="material-icons prefix" for="arrival">date_range</i>
            <input id ="arrival" type="text" class="datepicker">
            <label for="arrival">Data de chegada</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix" for="arrival">date_range</i>
            <input id="departure" type="text" class="datepicker">
            <label for="departure">Data de partida</label>
          </div>
          <div class="col s12" style="text-align: center;">
            <a style="cursor: pointer;" id="booking" class="btn btn-large waves-effect waves-light amber modal-trigger">reservar</a>
          </div>
          <%= render 'partials/errors' %>
        </div>
      </form>
      <div class="col s12">
        <%= image_tag ('breakfast.jpg'), class: 'responsive-image', style: "max-width: 100%;" %>
        <%= render 'partials/google_maps' %>
        <div class="card-panel white">
          <span class="black-text">
          <ul>
            <li>Rua Agissê, 152 - Vila Madalena</li>
            <li>Sao Paulo - Sao Paulo</li>
            <li>Telefone: (11) 2649-7217</li>
            <li>E-Mail: info@cafehostel.com.br</li>
          </ul>
          </span>
        </div>
      </div>
    </div>
    <div class="col s12 m9" style="padding: 0 !important">
      <div class="row" style="padding: 0 !important">
        <div class="col s12">
          <ul class="tabs" style="display: flex;" style="padding: 0 !important">
            <li class="tab col s3"><a href="#test1" id="class-teste" class="active"><i class='material-icons prefix tiny' style='margin-right: 10px'>home</i>Escolha seu quarto</a></li>
            <li class="tab col s3"><a href="#test2"><i class='material-icons prefix tiny' style='margin-right: 10px'>person</i>Revise seus dados</a></li>
            <li class="tab col s3"><a href="#test3"><i class='material-icons prefix tiny' style='margin-right: 10px'>check</i>Confirmação</a></li>
          </ul>
        </div>
      </div>
      <div id="test1" class="col s12" style="padding: 0 !important">
        <div class="row booking_cards" style="margin-top: 30px;">
          <div class="col s12 m8 offset-m2 l4 offset-l4">
            <div class="card" style="min-height: 320px; min-width: 290px;">
              <div class="card-image" >
                <%= link_to (image_path ('computador.jpg')), class: 'swipebox', rel: 'bed-1' do %>
                  <%= image_tag ("computador.jpg"), alt: 'image' %>
                <% end %>
                <span class="card-title white-text right-align" style="z-index: 1;">1 <i class="fa fa-user" aria-hidden="true" style="margin-left: 5px;"></i></span>
              </div>
              <div class="card-content" style="min-height: 25vh;">
                <div class="booking-info">
                  <span class="black-text first-booking-text" style="float: left;">Mixed dorm 11 beds (spacious!)</span>
                  <span class="red-text second-booking-text" style="float: right; text-decoration: line-through;">R$ 200,00</span>
                </div>
                <!-- <p class="booking-text" style="margin-bottom: 10px;"></p> -->
                <div class="booking-info">
                  <span class="red-text first-booking-text">DESCONTO 5%</span>
                  <span class="black-text first-booking-text">R$ 190,00</span>
                </div>
                <!-- <p class="booking-text"></p> -->
                <div class="input-field col s6 m4" style="padding: 0px; float: left;">
                  <select>
                    <option value="0" selected>Quantas camas?</option>
                    <option value="1">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3 </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="test2" class="col s12">Test 2</div>
      <div id="test3" class="col s12">Test 3</div>
    </div>
  </div>
</div>


<%= render 'partials/terms_and_conditions' %>
