<%= render 'partials/fixed_navbar' %>
<section style="min-height: 60vh">
  <div class="container">
    <h3 class="center-align">Central de Reservas</h3>
    <div class="row">
      <div class="col s12 m4" style="height: 250px; background-color: rgb(240,240,240);  margin-top: 10px; border: 2px solid white;">
        <div class="contact-info" style="height: 250px; display: flex; justify-content: space-around; background-color: rgb(240,240,240)">
          <h4 style="color: #090037; text-align: center;">0800 020 2661</h4>
          <h5>BRAZIL</h5>
          <p style="font-weight: 900; margin: 5px auto;">Segunda-feira - Sábado</p>
          <p style="font-weight: 900; margin: 5px auto;">10h00 - 22h00</p>
          <p style="font-weight: 900; margin: 5px auto;"><%= image_tag ('whats.png'), style: 'margin-right: 7px; margin-bottom: -3px;' %>+55 21 984792746</p>
        </div>
      </div>
      <div class="col s12 m4" style="height: 250px; background-color: rgb(240,240,240);  margin-top: 10px; border: 2px solid white;">
        <div class="contact-info" style="height: 250px; display: flex; justify-content: space-around; background-color: rgb(240,240,240)">
          <p style="font-weight: 900; margin: 5px auto;"><%= image_tag ('argentina.png'), style: 'margin-right: 7px; margin-bottom: -3px;' %>+54-1152170780</p>
          <p style="font-weight: 900; margin: 5px auto;"><%= image_tag ('chile.png'), style: 'margin-right: 7px; margin-bottom: -3px;' %>+56-225940712</p>
          <p style="font-weight: 900; margin: 5px auto;"><%= image_tag ('usa.png'), style: 'margin-right: 7px; margin-bottom: -3px;' %>1-347-557-8486</p>

        </div>
      </div>
      <div class="col s12 m4" style="height: 250px; background-color: rgb(240,240,240);  margin-top: 10px; border: 2px solid white;">
        <div class="contact-info" style="height: 250px; display: flex; justify-content: space-around; background-color: rgb(240,240,240)">
          <p style="font-weight: 900; margin: 5px auto;"><%= image_tag ('inglaterra.png'), style: 'margin-right: 7px; margin-bottom: -3px;' %>+54-1152170780</p>
          <p style="font-weight: 900; margin: 5px auto;"><%= image_tag ('whats.png'), style: 'margin-right: 7px; margin-bottom: -3px;' %>+56-225940712</p>
        </div>
      </div>
    </div>
  </div>
</section>
