<%= render 'partials/banner' %>
<%= render 'partials/social_media' %>
<%= render 'partials/overlay' %>
<section>
  <div class="container-fluid" style="min-height: 120vh; background-color: white;">
    <%= render 'partials/welcome_text' %>
    <%= render 'partials/welcome_items' %>
    <%= render 'partials/welcome_images' %>
  </div>
</section>

<section>
  <div class="container-fluid" style="min-height: 90vh; background-color: white;">
    <div class="container" style="width: 90% !important">
      <%= render 'partials/rooms' %>
      <%= render 'partials/sustentability' %>
      <%= render 'partials/brazil_sp' %>
    </div>
  </div>
</section>
<%= render 'partials/livechat' %>
<%= video_tag "home.mp4", autoplay: :autoplay, muted: :muted, loop: :loop, class: "video", poster: "bgvideo.png", id: 'home_video' %>
