<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title class="notranslate"> Café Hostel</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'cafehostel.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <% if params["action"] == 'index' %>
  <body onscroll="navbarFixedFunction()">
  <% else %>
  <body onscroll="navbarTopFunction()">
  <% end %>
    <%= render 'partials/sidebar' %>
    <%= render 'partials/navbar' %>
    <%= render 'partials/overlay' %>
    <%= yield %>
    <%= render 'partials/livechat' %>
    <%= render 'partials/footer' %>
    <%= javascript_include_tag 'booking.js' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49861311-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-49861311-1');
    </script>
  </body>
</html>
