<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title class="notranslate"> Café Hostel</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'cafehostel.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <% if params["action"] == 'index' %>
  <body onscroll="navbarFixedFunction()">
  <% else %>
  <body>
  <% end %>
    <%= render 'partials/sidebar' %>
    <%= render 'partials/navbar' %>
    <%= render 'partials/overlay' %>
    <%= yield %>
    <%= render 'partials/livechat' %>
    <%= render 'partials/footer' %>
    <%= javascript_include_tag 'booking.js' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49861311-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-49861311-1');
    </script>
    <script>
      (function(t,a,l,k,u,s,e){if(!t[u]){t[u]=function(){(t[u].q=t[u].q||[]).push(arguments)},t[u].l=1*new Date();s=a.createElement(l),e=a.getElementsByTagName(l)[0];s.async=1;s.src=k;e.parentNode.insertBefore(s,e)}})(window,document,'script','//www.talkus.io/plugin.beta.js','talkus');
      talkus('init', '4LHeHnEZnZaZ2Rw38');
    </script>
  </body>
</html>
