<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title class="notranslate"> Café Hostel</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'cafehostel.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body onscroll="navbarFixedFunction()">
    <%= render 'partials/sidebar' %>
    <%= render 'partials/navbar' %>
    <%= yield %>
    <%= render 'partials/footer' %>
    <%= javascript_include_tag ('getmdl.js') %>
  </body>
</html>
